.matrix-button {
    background-color: rgb(255, 255, 255);
    height : 30px;
    width: 30px;
    border-width: 1px;
}

.matrix-button-filled {
    background-color: rgb(186, 186, 186);
    height : 30px;
    width: 30px;
    border-width: 1px;
}


.matrix-disabled-button {
    background-color: white;
    height : 30px;
    width: 30px;
    border-width: 1px;
    cursor: not-allowed;
}

.matrix-row {
    display: flex;
    justify-content: center;
}
.matrix-button:hover {
    background-color: gainsboro;
}
.title{
    font-family: 'Times New Roman';
    font-size: 30px
}