.matrix-button {
    background-color: white;
    height : 40px;
    width: 40px;
    margin-top: 1px;
    margin-left: 1px;
    border-width: 1px;
    
}

.matrix-row {
    display: flex;
    justify-content: center;
}
.matrix-button:hover {
    background-color: gainsboro;
    cursor: pointer;
}
.title{
    font-family: 'Times New Roman';
    font-size: 30px
}